html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: Arial;
  color: #202020;
  background-color: #d2ecff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header */
.header {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: hsla(0, 0%, 100%, 0.6);
}
.header__contact {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  height: 50px;
}

.header__contact ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  list-style: none;
  padding-bottom: 10px;
}
.header__contact ul li {
  padding: 0;
  float: right;
  margin-bottom: 10px;
}

.header__contact ul li a {
  padding: 10px;
  font-size: 1.2em;
  font-weight: 700;
  box-sizing: border-box;
  color: #0067b3;
  margin-right: 40px;
}
.header__contact ul li i {
  font-size: 1.2em;
  color: #0067b3;
}

.header .image__container {
  position: absolute;
  width: 153px;
  left: 15%;
  top: 32px;
  z-index: 99999;
}
.header .image__container img {
  width: 133px;
  border-radius: 4px;
}

.menu__bar {
  background: #ff0025;
  display: table-cell;
  width: 23%;
}
.main__nav {
  display: table;
  width: 100%;
}

.bg__image {
  background-image: url('../assets/search1.png');
  height: 450px;
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: 50%;
}

.menu__container {
  border-spacing: 5px 0;
  display: table;
  table-layout: fixed;
  border-spacing: 5px 0;
  margin: auto;
  padding: 0;
  list-style: none;
  text-align: center;
}

.menu__container li {
  display: table-cell;
  margin: 0;
  font-size: 1em;
  background: #ff0025;
  vertical-align: middle;
  font-family: Arial;
  position: relative;
  padding: 0;
  line-height: 1.5em;
  list-style: none;
  text-align: center;
  width: 13%;
}

.menu__container li a {
  display: table-cell;
  text-decoration: none;
  padding: 20px 0;
  background: #ff0025;
  color: #fff;
  text-align: center;
  font-family: Arial;
  font-weight: 700;
  font-stretch: normal;
  box-sizing: border-box;
  border-spacing: 0.5em;
  width: 100%;
}

.main__nav > ul > li > a {
  height: 50px;
}

/* countrylist */
.container {
  display: flex;
  max-width: 880px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #d2ecff;
}

.container p {
  margin: 0;
}

.container .country {
  width: 33%;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  overflow: hidden;
  margin-bottom: 20px;
  list-style: none;
  padding-left: 0;
}

.container .country__name {
  background-color: #ff0025;
  text-align: center;
  padding: 10px;
  height: 50px;
}

.container .country__name p {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
}

.container .country__emoji {
  padding: 10px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.container .country__emoji img {
  max-width: 100%;
  height: auto;
}

.container .country__languages {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
}

.container .country__languages span {
  width: 33%;
  background-color: #1d9400;
  border-radius: 4px;
  padding: 7px;
  font-weight: 700;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  margin-bottom: 10px;
  word-wrap: break-word;
  text-align: center;
  line-height: 15px;
  cursor: pointer;
}
.container .country__languages span:hover {
  background-color: #114105;
}

.container .country__captial {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0px 10px;
}

.container .country__captial span {
  font-weight: bold;
  margin: 0;
  padding: 5px 20px;
  border-radius: 4px;
  flex: 1 1 auto;
  text-align: center;
  font-family: Arial;
}

.container .country__native {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0px 10px;
}

.container .country__native span {
  font-family: Arial;
  color: white;
  background-color: #f58d06;
  font-weight: bold;
  margin: 0;
  padding: 5px 20px;
  border-radius: 4px;
  flex: 1 1 auto;
  text-align: center;
}

.container .country__languageButton {
  margin-bottom: 10px;
  padding: 0px 10px;
  bottom: 2px;
  width: 100%;
}

.container .country__languageButton div {
  display: flex;
  color: white;
  background-color: #0167b3;
  font-weight: 700;
  margin: 0;
  padding: 10px 10px;
  border-radius: 4px;
  font-size: 1em;
  width: 100%;
  border: none;
  text-decoration: none;
  justify-content: space-between;
}
.container .country__languageButton h6 {
  margin: 5px 0;
  font-weight: 300;
  line-height: 1.25em;
}
/* searchbar */

.search__container {
  padding-top: 115px;
  padding-bottom: 0;
  /* background-image: url('../assets/search.png'); */
  /* background-position: center center; */
  background-repeat: no-repeat;
}

.search__form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  vertical-align: middle;
  padding: 39.5px;
  background: #f2f1ed;
}

.search__input {
  padding: 5px 12px;
  width: 40%;
  background-color: #fff;
  border-color: #d3cec4;
  border-radius: 10px;
  color: #494949;
  font-size: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #d3cec4;
}

@media (max-width: 800px) {
  .header .image__container img {
    width: 83px;
    left: 20px;
  }
  .header__contact {
    height: 55px;
  }
  .header__contact ul li a {
    font-size: 12px;
    margin-right: 0;
  }

  .header .image__container {
    left: 2%;
    top: 1px;
  }
  .menu__container li a {
    padding: 5px 0;
    font-size: 10px;
  }
  .container .country {
    width: 100%;
  }
  .myContact {
    padding: 0;
    width: 60%;
    overflow: hidden;
  }
  .bg__image {
    height: 200px;
  }

  .search__input {
    width: 90%;
  }
  .search__form {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .container .country__languages,
  .container .country__captial {
    flex-wrap: wrap;
  }

  .container .country__captial span,
  .container .country__languages span,
  .container .country {
    width: 100%;
  }

  .container .country__captial span {
    margin-bottom: 10px;
  }
}
